:global{
  @import "../../component/dist/reactUI.min.css";
}


.home {
  padding-bottom: 100px;
}

.listItem {
  display: flex;
  align-items: center;
  height: px2rem(100);
  padding-right: px2rem(20);
  padding-left: px2rem(20);
  background: #fff;
  border-bottom: 1px solid #eee;
  *:last-child {
    border-bottom: none;
  }
}

.body {
  margin-top: px2rem(120);
}